<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href="files/style/style.css">
    <!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.helper.ie8.js"></script><![endif]-->

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>
<header class='container-fluid no-padd'>
    <div class="row header flex-lg-column-reverse">
        {$carousel|noescape}
        <div class="col-lg-6 titletext">
            <h1>Sametová revoluce <span>(1989)</span><p>V knihovnách</p></h1>
            <div class="text">
                <p>Sametová revoluce je označení období politických změn v Československu mezi 17. listopadem a 29. prosincem roku 1989, které vedly k pádu komunistického režimu a přeměně politického zřízení na pluralitní demokracii.</p>
                <p class="important">Podívejte se, co o 17. listopadu 1989 najdete v knihovnách a jejich fyzických i elektronických fondech.</p>
            </div>
        </div>
    </div>
</header>

<nav class="navbar navbar-expand-lg navbar-dark bg-danger sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Úvod<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Zdroje</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Osobnosti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Další odkazy</a>
      </li>
    </ul>
  </div>
</nav>

<main class='container'>
{include content}
</main>
<footer>
    <div class="container">
        Více knižních a mediálních zdrojů, můžete nalézt na <a href="//knihovny.cz">portále Knihovny.cz</a>.
        Tyto stránky vytvořila skupina nadšenců Moravské Zemské Knihovny.
    </div>
</footer>

{block scripts}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
    <script src="/files/script/page.js" type="text/javascript"></script>
{/block}
</body>
</html>