// custom colors
$color-cr-blue: #08437f;
$color-cr-red: #d80c13;

// Bootstrap
// bootstrap colors
$blue: $color-cr-blue;
$red: $color-cr-red;

// navbar
$navbar-nav-link-padding-x: 0.75rem;
$navbar-dark-color: rgba(#ffffff, .8);
$navbar-dark-active-color: $color-cr-blue;

//
$color-lighter: #474747;
$color-bg-head: whitesmoke;
$height-header: 650px;
$width-slides: 50%;
