@import "bootstrap";
@import "var";

html {
  font-size: 14px;

  a {

    &, &:visited {
      color: orangered;
      text-decoration: none;
    }

    &:hover, &:active {
      color: orange;
    }
  }

  .btn.single {
    display: block;
    margin: 0px auto;
    font-size: 2em;
  }

  p {
    margin-bottom: 0;
  }
}

header {
  overflow: hidden;
  background: $color-bg-head;
  @include media-breakpoint-up(lg) {
    height: $height-header;
  }

  .row.header {
    @include media-breakpoint-up(lg) {
      height: $height-header;
    }
  }

  .carousel {
    padding: 0;
    @include media-breakpoint-up(lg) {
      position: absolute;
      right: 0;
    }

    .carousel-inner {
      overflow: hidden;
      @include media-breakpoint-up(lg) {
        height: $height-header;
        border-radius: 5%/50% 0 0 50%;
      }

      .carousel-item {
        &.active {

        }

        img {
          @include media-breakpoint-up(lg) {
            min-height: $height-header;
          }
          width: 100%;
        }
      }
    }
  }

  .titletext {
    padding: 2.5em;

    h1 {
      padding: .1em;
      margin: .5em auto;
      color: gray;
      border-bottom: 1px solid #d6d6d6;

      span {
        font-style: italic;
      }

      p {
        font-size: 150%;
        color: black;
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    .text {
      p {
        margin: .25em;
        text-align: justify;

        &.important {
          font-size: 105%;
          font-weight: bold;
        }
      }
    }


    @include media-breakpoint-up(lg) {
      margin: 12em 0;
      padding: 2em;
      font-size: 140%;
    }
    @include media-breakpoint-up(xl) {
      margin: 9em 0;
      padding: 2em 4em;
    }
  }
}

main {
  &.container {
    padding-top: 2em;

    > .row {
      margin-bottom: 2em;

      h1, h2, h3 {
        display: block;
        width: 100%;
        border-bottom: 1px solid lightgray;

        &.main {
          text-align: center;
        }
      }
    }
  }

  .shorttext {
    h2 {
      text-align: center;
    }

    font-size: 1.2em;
    margin: 2em 1em;
    text-align: justify;
    justify-content: left;
  }

  .bookshelf {
    padding: 10px;

    .item {
      a {
        padding: .25em;
        margin: .25em;
        background: #f8f9fa;
        border: 1px solid #dde3e9;
        border-radius: 3px;
        color: inherit;

        &:hover {
          background: #eff7ff;
          border-color: #a6bfd8;
        }

        img.cover {
          width: 100px;
          margin-right: 5px;
        }

        .media-body {
          padding: .5em;

          .title {
            font-weight: bold;
          }

          .author {
            color: $color-lighter;
          }
        }
      }
    }
  }

  .people {
    .ppl {
      margin: 0;
      padding: .5em;
      border: 1px double #DDD;
      border-radius: 3px;

      .tns-nav {
        display: none;
      }

      &.dark {
        background: black;
        color: whitesmoke;
        border: none;

        h6.date {
          color: #DDD;
        }

        .media {
          border-color: #555;
        }
      }

      h5.name {
        white-space: nowrap;
        margin: 0;
        border: none;
      }

      h6.date {
        white-space: nowrap;
        font-size: 90%;
        color: #4C4C4C;
      }

      .media {
        margin-bottom: .5em;
        border-bottom: 1px solid gray;

        .media-body {
          padding: .25em .5em;

          p {
            margin: 0;
          }

          .title {
            margin-left: 0.5em;

            .name {
              font-size: 1.7em;
            }
          }

          img {
            width: 200px;
            float: left;
          }
        }
      }

      ul.ppl-list {
        list-style-type: none;
        text-align: center;
        padding: 0;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;

        li {
          display: inline-block;
          padding: 0 4px;

          img.avatar {
            width: 80px;
          }
        }
      }

      @include media-breakpoint-down(md) {
        margin: .5em auto;
        .media {
          img.profile {
            margin-top: .5em;
          }

          .media-body {
            padding: .25em;
          }
        }
      }
    }
  }

  .video-block {
    padding: .5em;
    margin: .5em 0;
    border-radius: 5px;

    &:hover, &.active {
      background: #EEE;
    }

    img {
      width: 100%;
    }

    .content {
      padding: .5em;

      h3 {
        font-weight: bold;
        margin-bottom: 0;
      }

      .author {
        font-style: italic;
      }
    }
  }

  .periodicals {
    .item {
      .cover {
        height: 250px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }
    }
  }

}

footer {
  margin: 2em 0 0;
  background: black;

  div.container {
    color: whitesmoke;
    padding: 1em;
    text-align: center;
  }
}